*.sdf
*.opensdf
*.tlog
*.lastbuildstate
*.idb
*.res
*.opendb
*.db
*.suo
*.dia
*.vspx
.DS_Store

distro/
_resources/
DerivedData/
obj/
Release/
Debug/

version.txt
log.html
src/Puzzle/Legacy.h
_just steam.bat
*.bak


# Compiled Object files
*.slo
*.lo
*.obj
*.xcuserstate

# Precompiled Headers
*.gch
*.pch
*.ipch


